@model elearningapp.Models.Courses

@{
	ViewData["Title"] = "Edit";
}
<div class="container">
	<h2>Edit</h2>

	<h4>Courses</h4>
	<hr />
	<div class="row">
		<div class="col-md-4">
			<form asp-action="Edit">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<input type="hidden" asp-for="Id" />
				<div class="form-group">
					<label asp-for="Title" class="control-label"></label>
					<input asp-for="Title" class="form-control" />
					<span asp-validation-for="Title" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Description" class="control-label"></label>
					<input asp-for="Description" class="form-control" />
					<span asp-validation-for="Description" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="InstructorId" class="control-label"></label>
					<select asp-for="InstructorId" class="form-control">
						@foreach (var item in ViewBag.InstructorData)
						{
							<option value="@item.Value">@item.Text</option>
						}
					</select>
					<span asp-validation-for="InstructorId" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Category" class="control-label"></label>
					<input asp-for="Category" class="form-control" />
					<span asp-validation-for="Category" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="EnrollmentCount" class="control-label"></label>
					<input asp-for="EnrollmentCount" class="form-control" />
					<span asp-validation-for="EnrollmentCount" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="ImageUrl" class="control-label"></label>
					<input asp-for="ImageUrl" class="form-control" />
					<span asp-validation-for="ImageUrl" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="CourseDuration" class="control-label"></label>
					<input asp-for="CourseDuration" class="form-control" />
					<span asp-validation-for="CourseDuration" class="text-danger"></span>
				</div>
				<div class="form-group">
					<input type="submit" value="Save" class="btn btn-default" />
				</div>
			</form>
		</div>
	</div>

	<div>
		<a asp-action="Index">Back to List</a>
	</div>
</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
