@model IEnumerable<elearningapp.Models.Courses>

@{
    ViewData["Title"] = "Index";
}
<h1>Courses</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<!--  -->
@foreach (var item in Model)
{
    <div class="col-md-3 col-sm-6">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="card">
                    <div class="card-body">
                        <div class="image-wrap entry">
                            <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" width="300" height="300">
                            <div class="magnifier">
                                <a href="shop-single.html" title=""><i class="flaticon-add"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
        }

