@*  
    <summary>
    Index.cshtml
    This Razor page showcases courses with titles, descriptions, and categories. Users can enroll by clicking the 
    "Enroll" button. The page layout is designed for a visually engaging experience.
    </summary>
*@

@model IEnumerable<elearningapp.Models.Assignments>

    @{
    ViewData["Title"] = "Index";
    }
    <h1>Index</h1>
    <section class="section">
        <div class="container">
            <div class=" ">
                <div class="row">
                    <div class="col-md-6 shop-media">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="image-wrap entry">
                                    <img src="upload/single_shop_01.jpg" alt="" class="img-responsive"> <!--src Course,ImageUrl-->
                                    <div class="magnifier">
                                        <a rel="prettyPhoto[inline]" href="upload/single_shop_01.jpg" title=""><i class="flaticon-add"></i></a>
                                    </div>
                                </div><!-- end image-wrap -->
                            </div>
                        </div><!-- end row -->

                        <hr class="invis">
                    </div><!-- end col -->

                    <div class="col-md-6">
                        <div class="shop-desc">
                            <h3>Course title geliyor gelmekte olan</h3> <!--Course,title-->
                            <p>Course description gelecek</p> <!--Course,description-->
                            <div class="shop-meta">
                                <a href="#" class="btn btn-primary">Enroll</a>
                                <ul class="list-inline">
                                    <li>Categories: <a href="#">Buraya da Course,category</a> <!--Course,category-->
                                </ul>
                            </div><!-- end shop meta -->
                        </div><!-- end desc -->
                    </div><!-- end col -->
                </div><!-- end row -->

                <hr class="invis">

                <div class="row">
                    <div class="col-md-12">
                        <div class="shop-extra">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#home">Course Content </a></li>
                            </ul>
                            <!--<div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Burası (Assignments,title) canı gelmek isterse <!--Assignments,titlelaar
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <strong>Assignments,decriptions gele de bilir gelmeye de bilir</strong> <!--assignments,decriptions
                                        </div>
                                    </div>
                                </div>
                            </div>
                            -->
                            <div class="tab-content">
                            </div><!-- end shop-extra -->
                        </div><!-- end col -->
                    </div><!-- end row -->

                    <hr class="invis">
                </div><!-- end boxed -->
            </div><!-- end container -->
    </section>
