@model IEnumerable<elearningapp.Models.Assignments>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<section class="section">
    <div class="container">
        <div class=" ">
            <div class="row">
                <div class="col-md-6 shop-media">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="image-wrap entry">
                                <img src="upload/single_shop_01.jpg" alt="" class="img-responsive"> <!--src Course,ImageUrl-->
                                <div class="magnifier">
                                    <a rel="prettyPhoto[inline]" href="upload/single_shop_01.jpg" title=""><i class="flaticon-add"></i></a>
                                </div>
                            </div><!-- end image-wrap -->
                        </div>
                    </div><!-- end row -->

                    <hr class="invis">
                </div><!-- end col -->

                <div class="col-md-6">
                    <div class="shop-desc">
                        <h3>Course title geliyor gelmekte olan</h3> <!--Course,title-->
                        <p>Course description gelecek</p> <!--Course,description-->
                        <div class="shop-meta">
                            <a href="#" class="btn btn-primary">Enroll</a>
                            <ul class="list-inline">
                                <li>Categories: <a href="#">Buraya da Course,category</a> <!--Course,category-->
                            </ul>
                        </div><!-- end shop meta -->
                    </div><!-- end desc -->
                </div><!-- end col -->
            </div><!-- end row -->

            <hr class="invis">

            <div class="row">
                <div class="col-md-12">
                    <div class="shop-extra">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home">Course Content </a></li>
                        </ul>
                        @foreach (var item in Model)
                        {
                            <div class="accordion" id="accordionExample_@item.Id">
                                <div class="card">
                                    <div class="card-header" id="heading_@item.Id">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link btn-primary btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse_@item.Id" aria-expanded="true" aria-controls="collapse_@item.Id">
                                                @Html.DisplayFor(modelItem => item.Title)
                                            </button>
                                        </h2>
                                    </div>

                                    <div id="collapse_@item.Id" class="collapse" aria-labelledby="heading_@item.Id" data-parent="#accordionExample_@item.Id">
                                        <div class="card-body">
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }


                        <div class="tab-content">
                        </div><!-- end shop-extra -->
                    </div><!-- end col -->
                </div><!-- end row -->

                <hr class="invis">
            </div><!-- end boxed -->
        </div><!-- end container -->
</section>