<section id="home" class="video-section js-height-full">
    <div class="overlay"></div>
    <div class="home-text-wrapper relative container">
        <div class="home-message">
            <p>Learning Management System</p>
            <small>Edulogy is the ideal choice for your organization, your business and your online education system. Create your online course now with unlimited page templates, color options, and menu features.</small>
            <div class="btn-wrapper">
                <div class="text-center">
                    <a href="#" class="btn btn-primary wow slideInLeft">Read More</a> &nbsp;&nbsp;&nbsp;<a href="#" class="btn btn-default wow slideInRight">Buy Now</a>
                </div>
            </div><!-- end row -->
        </div>
    </div>
    <div class="slider-bottom">
        <span>Explore <i class="fa fa-angle-down"></i></span>
    </div>
</section>
<section class="section gb">
    <div class="container">
        <div class="section-title text-center">
            <h3>Recent Courses</h3>
            <p>Maecenas sit amet tristique turpis. Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis. Donec consectetur accumsan arcu, sit amet fringilla ex ultricies.</p>
        </div><!-- end title -->

        <div id="owl-01" class="owl-carousel owl-theme owl-theme-01">
            <div class="caro-item">
                <div class="course-box">
                    <div class="image-wrap entry">
                        <img src="upload/course_01.jpg" alt="" class="img-responsive">
                        <div class="magnifier">
                            <a href="#" title=""><i class="flaticon-add"></i></a>
                        </div>
                    </div><!-- end image-wrap -->
                    <div class="course-details">
                        <h4>
                            <small>Javascript</small>
                            <a href="#" title="">Modern JavaScript Linting With ESLint</a>
                        </h4>
                        <p>Fusce interdum, elit sit amet vehicula malesuada, eros libero elementum orci.</p>
                    </div><!-- end details -->
                    <div class="course-footer clearfix">
                        <div class="pull-left">
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-user"></i> 21</a></li>
                                <li><a href="#"><i class="fa fa-clock-o"></i> 15 Min.</a></li>
                            </ul>
                        </div><!-- end left -->

                        <div class="pull-right">
                            <ul class="list-inline">
                                <li><a href="#">$22.00</a></li>
                            </ul>
                        </div><!-- end left -->
                    </div><!-- end footer -->
                </div><!-- end box -->
            </div><!-- end col -->

            <div class="caro-item">
                <div class="course-box">
                    <div class="image-wrap entry">
                        <img src="upload/course_02.jpg" alt="" class="img-responsive">
                        <div class="magnifier">
                            <a href="#" title=""><i class="flaticon-add"></i></a>
                        </div>
                    </div><!-- end image-wrap -->
                    <div class="course-details">
                        <h4>
                            <small>Design</small>
                            <a href="#" title="">Designing Game UI Assets in Adobe Illustrator</a>
                        </h4>
                        <p>Curabitur condimentum velit non odio mattis tristique. Nam vitae orci aliquam. </p>
                    </div><!-- end details -->
                    <div class="course-footer clearfix">
                        <div class="pull-left">
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-user"></i> 41</a></li>
                                <li><a href="#"><i class="fa fa-clock-o"></i> 33 Min.</a></li>
                            </ul>
                        </div><!-- end left -->

                        <div class="pull-right">
                            <ul class="list-inline">
                                <li><a href="#">$55.00</a></li>
                            </ul>
                        </div><!-- end left -->
                    </div><!-- end footer -->
                </div><!-- end box -->
            </div><!-- end col -->

            <div class="caro-item">
                <div class="course-box">
                    <div class="image-wrap entry">
                        <img src="upload/course_03.jpg" alt="" class="img-responsive">
                        <div class="magnifier">
                            <a href="#" title=""><i class="flaticon-add"></i></a>
                        </div>
                    </div><!-- end image-wrap -->
                    <div class="course-details">
                        <h4>
                            <small>PHP Coding</small>
                            <a href="#" title="">How to Become a Web Developer: Learn PHP</a>
                        </h4>
                        <p>Donec auctor nec nibh sit amet pulvinar. Mauris nulla elit, lacinia ac facilisis mattis.</p>
                    </div><!-- end details -->
                    <div class="course-footer clearfix">
                        <div class="pull-left">
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-user"></i> 35</a></li>
                                <li><a href="#"><i class="fa fa-clock-o"></i> 1 Hrs.</a></li>
                            </ul>
                        </div><!-- end left -->

                        <div class="pull-right">
                            <ul class="list-inline">
                                <li><a href="#">$51.00</a></li>
                            </ul>
                        </div><!-- end left -->
                    </div><!-- end footer -->
                </div><!-- end box -->
            </div><!-- end col -->

            <div class="caro-item">
                <div class="course-box">
                    <div class="image-wrap entry">
                        <img src="upload/course_04.jpg" alt="" class="img-responsive">
                        <div class="magnifier">
                            <a href="#" title=""><i class="flaticon-add"></i></a>
                        </div>
                    </div><!-- end image-wrap -->
                    <div class="course-details">
                        <h4>
                            <small>PHP Coding</small>
                            <a href="#" title="">How to Build a Custom Theme for Drupal 8</a>
                        </h4>
                        <p>Pellentesque ut enim dictum, interdum lorem eget, vulputate eros sed felis euismod.</p>
                    </div><!-- end details -->
                    <div class="course-footer clearfix">
                        <div class="pull-left">
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-user"></i> 35</a></li>
                                <li><a href="#"><i class="fa fa-clock-o"></i> 45 Min.</a></li>
                            </ul>
                        </div><!-- end left -->

                        <div class="pull-right">
                            <ul class="list-inline">
                                <li><a href="#">$51.00</a></li>
                            </ul>
                        </div><!-- end left -->
                    </div><!-- end footer -->
                </div><!-- end box -->
            </div><!-- end col -->

            <div class="caro-item">
                <div class="course-box">
                    <div class="image-wrap entry">
                        <img src="upload/course_01.jpg" alt="" class="img-responsive">
                        <div class="magnifier">
                            <a href="#" title=""><i class="flaticon-add"></i></a>
                        </div>
                    </div><!-- end image-wrap -->
                    <div class="course-details">
                        <h4>
                            <small>Javascript</small>
                            <a href="#" title="">Modern JavaScript Linting With ESLint</a>
                        </h4>
                        <p>Fusce interdum, elit sit amet vehicula malesuada, eros libero elementum orci.</p>
                    </div><!-- end details -->
                    <div class="course-footer clearfix">
                        <div class="pull-left">
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-user"></i> 21</a></li>
                                <li><a href="#"><i class="fa fa-clock-o"></i> 15 Min.</a></li>
                            </ul>
                        </div><!-- end left -->

                        <div class="pull-right">
                            <ul class="list-inline">
                                <li><a href="#">$22.00</a></li>
                            </ul>
                        </div><!-- end left -->
                    </div><!-- end footer -->
                </div><!-- end box -->
            </div><!-- end col -->
        </div><!-- end row -->

        <hr class="invis">

        <div class="section-button text-center">
            <a href="#" class="btn btn-primary">View All Courses</a>
        </div>
    </div><!-- end container -->
</section>

<section class="section db">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="stat-count">
                    <h4 class="stat-timer">1230</h4>
                    <h3><i class="flaticon-black-graduation-cap-tool-of-university-student-for-head"></i> Happy Students</h3>
                    <p>Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis. </p>
                </div><!-- stat-count -->
            </div><!-- end col -->

            <div class="col-lg-4 col-md-4">
                <div class="stat-count">
                    <h4 class="stat-timer">331</h4>
                    <h3><i class="flaticon-online-course"></i> Course Done</h3>
                    <p>Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis. </p>
                </div><!-- stat-count -->
            </div><!-- end col -->

            <div class="col-lg-4 col-md-4">
                <div class="stat-count">
                    <h4 class="stat-timer">8901</h4>
                    <h3><i class="flaticon-coffee-cup"></i> Ordered Coffe's</h3>
                    <p>Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis. </p>
                </div><!-- stat-count -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>
