@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
@* <summary>
    This page allows users to confirm their email address. When a user clicks on the confirmation 
    link in their email , they will be directed to this page.
    </summary>
    *@

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
