@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}
@* <summary>
     This Razor Page handles the confirmation of an email address change. 
    When a user initiates an email address change, they will be directed to this page for confirmation.
    </summary>
*@

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
